



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}

.calendario {
    width: 1000px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #ffffff;
}

th {
    font-family: 'Montserrat', sans-serif;
    background-color: #4a90e2;
    border: #cccccc 1px solid;
    height: 2rem;
    color: #ffffff;
}

td {
    
    position: relative;
    font-family: 'Roboto', sans-serif;
    border: #cccccc 1px solid;
    text-align: center;
    height: 6rem;
    color: #333333;
    padding: 5px;
}

.divNros {
    width: 1.2rem;
    background-color: #e7e7ea;
    border-radius: 6px;
    position: absolute;
    top: 0;
}

td:nth-child(6),
/* Sábado */
td:nth-child(7) {
    /* Domingo */
    background-color: #ffebeb;
    /* Fondo coral claro */
    color: #ff6f61;
    /* Texto coral */
}

.titulo {
   position: absolute;
    width: 98%;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 5px;
    border-radius: 5px;
    z-index: 100;
}

.divContenedorColores {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* Una sola columna */
    grid-gap: 1px;
    /* Espaciado entre los elementos */
    position: relative;
}

.divcolor {
    height: 10px;
    width: 100%;
    /* Ajusta el ancho de los divs */
    border-radius: 5px;
    position:relative;
    
}
.div-eventos{
    margin-top: 5px;
    display: none;
    position: absolute;
    width: 100%;
    
}
.titulo:hover + .div-eventos{
    font-size: 0.7rem;
    position: relative;
   
    width: 100%;
    left: 0;
    top: 0;
    padding: 3px;
    display: inline;
   
    background-color: rgba(255, 255, 255, 0.8);
    transition: opacity 0.8s ease, transform 1s ease;
    transform: translateY(-10px);
    z-index:100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}


